header {
    background-color: #000000;
    color:#FFFFFF;
}

.cabecalho {
    color:white;
    margin-left :660px;
    text-align:center;
    display:flex;

}

.cabecalho-lista-1 {
  color:white;
  margin-left: 40px;/* alinhamento a esquerda*/ 
  padding:  20px; /* espacamento a esquerda */
  display: inline-block;
  justily-content:center;

}

.cabecalho-lista-2 {
    color:white;
    margin-left:40px;/*alinhamento a esquerda*/
    padding:20px; /* espacamento a esquerda*/
    display: inline-block
    justily-content:center;
}

body {
    background-color:rgb(252,252,173);
    color:black;
}

.titulo-2 {
    color:black;
    justify-content:center;
    display:flex;
    
}

 .paragrafo-1 {
    margin-left: 20px;
    justify-content: center;
 }

  .titulo-3 {
    color:#black;
    justify-content: center;
    padding: 40px
  }

  .paragrafo-2 {
    margin-left:  20px
    justify-content:
  }

.arduino  {
    : height: 40%;;
}


.protoboard {
    width:40%;
    margin-right: 50%;
}

.multimetro {
    width: 40%;
    margin-right: 30px;
}

.capacitor {
    width: 40%;
    padding: 45px;
    margin-right: 50px;
}

.sensor-LDR
