header {
    background-color: #000000;
    color:#FFFFFF;
}

.cabecalho {
    color:white;
    margin-left :660px;
    text-align:center;
    display:flex;

}

.cabecalho-lista-1 {
  color:white;
  margin-left: 40px;/* alinhamento a esquerda*/ 
  padding:  20px; /* espacamento a esquerda */
  display: inline-block;
  justily-content:center;

}

.cabecalho-lista-2 {
    color:white;
    margin-left:40px;/*alinhamento a esquerda*/
    padding:20px; /* espacamento a esquerda*/
    display: inline-block
    justily-content:center;
}

body {
    background-color:rgb(252,252,173);
    color:black;
}

.titulo-2 {
    color:black;
    justify-content:center;
    display:flex;
    
}

 .paragrafo-1 {
    margin-left: center;
    justify-content: center;
    text-align: ;center;
 }

  .titulo-3 {
    color:#black;
    justify-content: center;
  }

  .paragrafo-2 {
    margin-left:  20px
    justify-content:
  }

.arduino  {
    : height: 40%;;
    display:inline
    padding:40px
}


.protoboard {
    width:40%;
    display:inline;120px
}

.multimetro {
    width: 40%;
    margin-right: 30px;
}

.capacitor {
    width: 40%;
    :15%
    display:inline ;
    padding: 30;
    margin-left: 60px;
    margin-right: 40px;
}

.sensor-LDR {
    width: 20%;
    display:20px ;
    margin-left:

}

.led {
   width: 20%;
   display:inline;
   margin-left: 140px;
   padding:20px;

}
